<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homework.web.taobao.dao.HasgoodsDao">

    <resultMap id="hasgoods" type="com.homework.web.taobao.entity.HasgoodsEntity">
        <result column="goodsid" property="goodsid" />
        <result column="orderid" property="orderid" />
        <result column="num" property="num" />
        <result column="goodsname" property="goodsname" />
    </resultMap>
    <select id="getByOrderid" resultMap="hasgoods" parameterType="java.lang.Integer">
        select  DISTINCT *
        from `goods`,`has_goods`
        where  has_goods.orderid=#{orderid} AND has_goods.goodsid=goods.goodsid
    </select>
    <!-- 用户注册 -->
    <insert id="hasgoodsInsert" parameterType="com.homework.web.taobao.entity.HasgoodsEntity" >
        INSERT INTO `has_goods`
        (
            orderid, goodsid, num
        )
        VALUES (
                   #{orderid},
                   #{goodsid},
                   #{num}
               )
    </insert>

</mapper>